/*FORM*/

input, textarea{
	margin : 3px 0;
	padding : 4px 8px;
	border : 1px solid #B9B9B9;
	height: 20px;
	width: 210px;
	display: block;
}

textarea{
	height: 150px;
	width: 410px;
}

.input{
	box-shadow: inset 0px 0px 2px darken($backgroundInput,20%);
	background: $backgroundInput;
	border-radius: 5px;
}

.input:focus{
	box-shadow: inset 0px 0px 2px darken($backgroundInput,20%), 0px 0px 5px #B8E4F0;
	border-color: #B8E4F0;
}