/*GLOBAL TAGS BASICS STYLES*/


body{
	font-family: $font-family;
	overflow-x: hidden;
	background: $backgroundBody
}

#mainBox{
	z-index: $z-indexMainBox;
	position: relative;
}

p{
	text-align: justify;
	margin: 15px 0
}

h1,h2,h3,h4,h5,h6{
	margin: 15px 0
}

h1{font-size: 3em}
h2{font-size: 2.5em}
h3{font-size: 2em}
h4{font-size: 1.8em}
h5{font-size: 1.4em}
h6{font-size: 1em}

a{
	text-decoration: none;
	color: inherit
}

.bg{background: rgba(70, 70, 70, 0.50)}


//Section
section{
	padding: 80px 0;
	background: $backgroundSection;
}

section.marg{
	margin: 20px auto;
	box-shadow : 0px 0px 15px #000;
}

section.dark{
	background: darken($backgroundSection,7%);
}

.container{
	width: $widthContainer;
	margin: auto;
	@include transition (width 0.5s);
}


.btn{
	background: $backgroundButton;
	@include background-image(linear-gradient(bottom, $backgroundButton, lighten($backgroundButton,10%)));
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #000;
	color: #FFF;
	box-shadow: 0px 2px 2px #000 , 0px 3px 5px #555;
	margin:5px 5px 7px 5px;
	cursor: pointer;
}

.btn:hover{
	background: darken($backgroundButton,5%)
}

.btn:active{
	box-shadow: 0px 1px 2px #000;
	position :relative;
	top : 2px;
}

.link{
	color : #005CFF;
}

.link:hover{
	color : darken(#005CFF,10%);
	text-decoration: underline;
}