/*HEADER - FOOTER*/

.header, {
	height: $heightHeader;
	color: $colorHeader;
	background: $backgroundHeader;

	.title{
		padding-top: $paddingTopTitle;
	}
}

.footer{
	height: $heightFooter;
	color: $colorFooter;
	background: $backgroundFooter;
}

