/*Media Query*/

@media only screen and (max-width: $largeScreen + 50) and (min-width: $mediumScreen){
	.container {width: $mediumScreen}
	@include setWidthColumn($mediumScreen);
}

@media only screen and (max-width: $mediumScreen + 50) and (min-width: $smallScreen){
	.container {width: $smallScreen};
	@include setWidthColumn($mediumScreen);
}

@media only screen and (max-width: $smallScreen + 50){

	.container {width: 90%};
	.row, .row-fluid{
		.col{
			margin-left: 0;
			display: block;
			width: 100%;
		}
	}
}

@media only screen and (max-width: $mediumScreen) {

	@include menu-responsive;

}