/*Media Query*/

@media only screen and (max-width: $largeScreen + 50) and (min-width: $mediumScreen){
	.container {width: $mediumScreen}
	@include setWidthColumn($mediumScreen);
}

@media only screen and (max-width: $mediumScreen + 50) and (min-width: $smallScreen){
	.container {width: $smallScreen};
	@include setWidthColumn($mediumScreen);
}

@media only screen and (max-width: $smallScreen + 50){

	.container {width: 90%};
	.row, .row-fluid{
		.col{
			margin-left: 0;
			display: block;
			width: 100%;
		}
	}
}

@media only screen and (max-width: $mediumScreen) {

	.menu{
		display: none;
	}

	.menu{
		overflow: hidden;
		display: block;
		width: 300px;
		height: 100%;
		left: -300px;
		z-index: 1;
		position: fixed;
	}

	body{
		position: relative;
		left: 300px;
		z-index: 2;
		overflow: hidden;
		@include transition(left  0.3s linear);
	}

	body.off{
		left: 0;
		overflow: none;

	}
}