/*TEXT*/

.title{
	margin: auto;
	height: 120px;
	text-align: center;
	width: 100%;
	font-size: 8em;
	line-height: 120px;
	padding: 15px 0;
}

.text{
	margin: 15px 0;

	&.large{font-size: 5em}
	&.center{text-align: center;margin: auto}
}

.ico-nav-bar{
	height: 25px;
	width: 28px;
	background:#000;
	padding: 3px 6px;
	cursor: pointer;

	.navBar{
		height: 3px;
		margin: 4px 0;
		width: 28px;
		background: #FFF;
		border-radius: 3px;
	}
}