/*TEXT*/

.title{
	margin: auto;
	height: 120px;
	text-align: center;
	width: 100%;
	font-size: 8em;
	line-height: 120px;
	padding: 15px 0;
}

.text{
	margin: 15px 0;

	&.large{font-size: 5em}
	&.center{text-align: center;margin: auto}
}