/*VARIABLES*/

//Globals Tags
$font-family : Georgia, Helvetica, Arial, sans-serif;

/*Container*/
$widthContainer : 1200px;

/*Media Query*/
$largeScreen : 1200px;
$mediumScreen : 960px;
$smallScreen : 760px;

/*Grid*/
$nbColumns : 12;
$marginCol : 15px;
$marginCol-Fluid : 1.5%;

/*Header - Footer*/
$colorHeader:#FFF ;
$backgroundHeader : #03658C;
$heightHeader : 800px;
$paddingTopTitle: 200px;

$colorFooter :#FFF ;
$backgroundFooter : #0D111A;
$heightFooter : 360px;

//Menu
$z-indexMenu : 50;
$heightMenu : 90px;
$font-familyMenu : false;
$backgroundMenu : #090C18;
$colorMenu : #FFF;
$heightDropdown : 250px;
$backgroundDropdown : false;
$backgroundMenu-responsive : #2B2B2B;

//Section
$backgroundSection : #FFF;

//Panel Slide
$panelSlide-slideBackgound : #31363E;
$panelSlide-slideColor : #FFF;


// 03588C 03658C 038C8C 03A688 ADD9A0