.btn, .link{
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn{
  margin: 0.3em 0.1em;
  padding: 0.9em 2em;;
  display: inline-block;
  text-align: center;
  background-color: map-get($color-theme, "body");
  color: map-get($color-theme, "contentPage");
  box-shadow: 0px 1px 2px #B4B4B4;
  @include transition (background-color 300ms ease-out);
}

.btn:hover{
  background-color: darken(map-get($color-theme, "body"), 10%);
}

.btn-default{
  color: inherit;
  font-weight: bold;
  background-color: map-get($color-theme, "contentPage")
}

.btn-default:hover{
  background-color: darken(map-get($color-theme, "contentPage"), 10%);
}

.link{
  background: none;
  font-weight: bold;
  color: map-get($colors, "blue");
}

.link:hover{
  border-bottom: 3px solid map-get($colors, "blue");
}

@each $name, $color in $colors {
  .btn-#{$name}{
     background-color: $color;
  }
  .btn-#{$name}:hover{
    background-color: darken($color, 10%);
  }
}