.form-group{
  margin: 0.5em 0;

  label{
    width: 200px;
    display: block;
  }
}

.form-control{
  padding: 0.4em;
  margin: 0.5em 0;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: map-get($theme, "darkenBackground");
}

textarea.form-control{
  height: 120px;
  max-width: 100%;
}

.form-control[type=checkbox]{
  display: none;
}

.form-control[type=checkbox] + label{
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 2px solid #B3B1B1;
  cursor: pointer;
}

.form-control[type=checkbox]:checked  + label{
  border: none;
  background : map-get($theme, "font");
}

.form-control[type=checkbox]:checked  + label:before{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 5px;
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;
  @include transform(rotate(-45deg));
}

form.search{
  .form-control{
    width: 250px;
    background: #FFF;
  }

  .icon-search{
    padding: 0.4em;
    box-sizing: border-box;
    border: none;  font-family: inherit;
    font-size: inherit;
    color: inherit;
    position: relative;

    &:after{
      content: 'ok';
      position: absolute;
      left: 0;
      top: 0;
    }
  }

}