.nav-bar{
  .item-nav > a, .item-nav > span{
    display: block;
  }

  .item-nav{
    @include transition (background 300ms ease-out);
  }

  .item-nav.drop{
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      right: 3px;
      margin-top: -2px;
      width: 0px;
      height: 0px;
      border-top: 4px solid #FFF;
      border-right: 4px solid rgba(255, 0, 0, 0);
      border-left: 4px solid rgba(255, 0, 0, 0);
    }
  }

}

.nav-bar.inline{
  display: inline-block;
  width: 100%;
  background: map-get($theme, "navbarBackground");
  color: map-get($theme, "navbarColor");

  .nav-header, .item-nav > a, .item-nav > span{
    padding: 1rem 0.7rem;
  }

  .nav-header{
    font-weight: bold;
    font-size: 2em;
  }

  .item-nav:hover{
    background: darken(map-get($theme, "navbarBackground"), 10%);
  }

  .sub-nav{
    background: map-get($theme, "navbarBackground");
  }

}

@mixin nav-bar-min-sm{
  .nav-bar.inline{

    line-height: 100%;
    padding: 0.5em 0 ;

    .nav-header, .item-nav, .item-option{
      float: left;
      position: relative;
    }

   .item-nav:hover{
      > .sub-nav{
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
    }

    .sub-nav{
      position: absolute;
      left: 0;
      top: 110%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s;
      z-index: 1;

       .item-nav{
        float: none;
       }

    }

    .sub-nav .sub-nav{
      top: 0 !important;
      left: 100%;
    }

  }
}

@mixin nav-bar-max-sm{

  .nav-header{
   text-align: center;
  }

  .nav-bar.inline .sub-nav{
    padding-left: 2em;
  }

  .item-nav.drop:after{
    display: none
  }
}

.nav-bar.left{
  min-width: 250px;
  margin: 0 2em 2em 0;
  background: map-get($theme, "darkenBackground");

  .nav-header, .item-nav > a{
   padding: 1.2em 0.7em;
  }

  .nav-header{
    text-align: center;
    text-transform: uppercase;
    background: darken(map-get($theme, "background"), 10%);
  }

  .item-nav:hover{
    background: darken(map-get($theme, "background"), 10%);
  }
}