.table{
  width: 100%;
  margin-bottom: 1.5em;

  thead > tr{
    th{
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  tbody > tr:nth-of-type(odd){
    background: map-get($theme, "darkenBackground");
  }

  td, th{
     padding: 0.5em 0.8em;
  }
}

@mixin xs-table{
  .table{
    td, th{
       padding: 0.2em 0.8em;
       display: block;
    }
  }
}