.window{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: map-get($color-theme, "default");
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 2px #000;
  @include transform(translate(-50%, -50%));
  background: map-get($color-theme, "default");
  z-index: 3;
}

.modal2{
  position: fixed;
  left: 0;
  right: 0;
  background-color: #eee;
  padding: 24px;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  z-index: 3;

  &.modal-center{
    top : 0;
    bottom: 0
  }
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 2;
}

.panelSlide{
  position: fixed;
  top: 0;
  left : 0;
  bottom: 0;
  z-index: 3;
  width: 340px;
  background: map-get($color-theme, "default");
  box-shadow: 0 0 42px 0 rgba(0,0,0,.25);

  .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.right{
    right : 0;
    left: auto
  }
}