html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

body {
  background: #2F322D;
  color: #2F322D;
  font-family: sans-serif;
  font-size: 1.09em;
  letter-spacing: 1px;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.row {
  margin: 0 -7.5px;
  padding: 7.5px 0;
  overflow: hidden;
  *zoom: 1;
}

.row > div {
  float: left;
  min-height: 1px;
  padding: 0 7.5px;
  box-sizing: border-box;
}

.center {
  text-align: center;
  flex: 1;
}

h1, h2, h3 {
  margin: 0.3em 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

.icon-new {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #e1e1e1;
  line-height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 1.2em 0;
}
.icon-new:before {
  content: '+';
  font-size: 2.2em;
}

.title {
  font-size: 8em;
  margin: 0.1em 0;
  text-shadow: 0px 2px 0px rgba(26, 26, 26, 0.4);
  text-align: center;
}

p {
  text-align: justify;
  margin: 0.5em 0;
  line-height: 1.2em;
}

p.blue {
  color: #2196F3;
}

p.orange {
  color: #FD6E16;
}

p.red {
  color: #D82F2F;
}

p.green {
  color: #2FB69E;
}

header.header {
  padding: 1.5em 0;
  background: #2196F3;
}
header.header .title {
  color: #FAFAFA;
}

.content-page {
  padding: 1.5em 0;
  background: #FAFAFA;
}

footer.footer {
  padding: 1.5em 0;
  background: #2D2B29;
  color: #fff;
}

.window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #2D2B29;
}
.window.home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #3BC389;
}
.window.home:before {
  content: '';
  flex: 1;
}
.window.home:after {
  content: '';
  flex: 1;
}

.form-group {
  margin: 0.5em 0;
}
.form-group label {
  width: 200px;
  display: block;
}

.form-control {
  padding: 0.4em;
  margin: 0.5em 0;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: #f0f0f0;
}

.form-control.blue {
  background: #2196F3;
}

.form-control.orange {
  background: #FD6E16;
}

.form-control.red {
  background: #D82F2F;
}

.form-control.green {
  background: #2FB69E;
}

textarea.form-control {
  height: 120px;
}

.form-control[type=checkbox] {
  display: none;
}

.form-control[type=checkbox] + label {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 2px solid #B3B1B1;
  cursor: pointer;
}

.form-control[type=checkbox]:checked + label {
  border: none;
  background: #2F322D;
}

.form-control.blue[type=checkbox]:checked + label {
  background: #2196F3;
}

.form-control.orange[type=checkbox]:checked + label {
  background: #FD6E16;
}

.form-control.red[type=checkbox]:checked + label {
  background: #D82F2F;
}

.form-control.green[type=checkbox]:checked + label {
  background: #2FB69E;
}

.form-control[type=checkbox]:checked + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 5px;
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn, .link {
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn {
  margin: 0.3em 0.1em;
  padding: 0.9em 2em;
  display: inline-block;
  text-align: center;
  background-color: #2F322D;
  color: #FFF;
  box-shadow: 0px 1px 2px #B4B4B4;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.btn:hover {
  background-color: #161715;
}

.btn-default {
  color: inherit;
  font-weight: bold;
  background-color: #FAFAFA;
}

.btn-default:hover {
  background-color: #e1e1e1;
}

.link {
  background: none;
  font-weight: bold;
  padding: 0;
  margin: 0 0.5em;
  color: #2196F3;
}

.link:hover {
  border-bottom: 3px solid #2196F3;
}

.btn-blue {
  background-color: #2196F3;
}

.btn-blue:hover {
  background-color: #0c7cd5;
}

.btn-orange {
  background-color: #FD6E16;
}

.btn-orange:hover {
  background-color: #de5602;
}

.btn-red {
  background-color: #D82F2F;
}

.btn-red:hover {
  background-color: #b32121;
}

.btn-green {
  background-color: #2FB69E;
}

.btn-green:hover {
  background-color: #258d7b;
}

.radial-out {
  position: relative;
  overflow: hidden;
  text-align: center;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: color, 0.3s;
  -o-transition: color, 0.3s;
  -webkit-transition: color, 0.3s;
  transition: color, 0.3s;
}

.radial-out:hover {
  box-shadow: 0 0 1px transparent;
}

.radial-out:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2F322D;
  border-radius: 100%;
  -moz-transition: -moz-transform, 0.3s, ease-out;
  -o-transition: -o-transform, 0.3s, ease-out;
  -webkit-transition: -webkit-transform, 0.3s, ease-out;
  transition: transform, 0.3s, ease-out;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radial-out.blue:after {
  background: #2196F3;
}

.radial-out.orange:after {
  background: #FD6E16;
}

.radial-out.red:after {
  background: #D82F2F;
}

.radial-out.green:after {
  background: #2FB69E;
}

.radial-out:hover, .radial-out:focus, .radial-out:active {
  color: #FFF;
}

.radial-out:hover:after, .radial-out:focus:after, .radial-out:active:after {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

@-moz-keyframes flipOut {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes flipOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes flipOut {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-moz-keyframes flipIn {
  0% {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes flipIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes flipIn {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@media (max-width: 480px) {
  .row .col-xs-hidden {
    display: none;
  }

  .row .col-xs-1 {
    width: 8.33333%;
  }

  .row .col-xs-2 {
    width: 16.66667%;
  }

  .row .col-xs-3 {
    width: 25%;
  }

  .row .col-xs-4 {
    width: 33.33333%;
  }

  .row .col-xs-5 {
    width: 41.66667%;
  }

  .row .col-xs-6 {
    width: 50%;
  }

  .row .col-xs-7 {
    width: 58.33333%;
  }

  .row .col-xs-8 {
    width: 66.66667%;
  }

  .row .col-xs-9 {
    width: 75%;
  }

  .row .col-xs-10 {
    width: 83.33333%;
  }

  .row .col-xs-11 {
    width: 91.66667%;
  }

  .row .col-xs-12 {
    width: 100%;
  }

  .title {
    font-size: 5em;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .row .col-sm-hidden {
    display: none;
  }

  .row .col-sm-1 {
    width: 8.33333%;
  }

  .row .col-sm-2 {
    width: 16.66667%;
  }

  .row .col-sm-3 {
    width: 25%;
  }

  .row .col-sm-4 {
    width: 33.33333%;
  }

  .row .col-sm-5 {
    width: 41.66667%;
  }

  .row .col-sm-6 {
    width: 50%;
  }

  .row .col-sm-7 {
    width: 58.33333%;
  }

  .row .col-sm-8 {
    width: 66.66667%;
  }

  .row .col-sm-9 {
    width: 75%;
  }

  .row .col-sm-10 {
    width: 83.33333%;
  }

  .row .col-sm-11 {
    width: 91.66667%;
  }

  .row .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .row .col-md-hidden {
    display: none;
  }

  .row .col-md-1 {
    width: 8.33333%;
  }

  .row .col-md-2 {
    width: 16.66667%;
  }

  .row .col-md-3 {
    width: 25%;
  }

  .row .col-md-4 {
    width: 33.33333%;
  }

  .row .col-md-5 {
    width: 41.66667%;
  }

  .row .col-md-6 {
    width: 50%;
  }

  .row .col-md-7 {
    width: 58.33333%;
  }

  .row .col-md-8 {
    width: 66.66667%;
  }

  .row .col-md-9 {
    width: 75%;
  }

  .row .col-md-10 {
    width: 83.33333%;
  }

  .row .col-md-11 {
    width: 91.66667%;
  }

  .row .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .row .col-lg-hidden {
    display: none;
  }

  .row .col-lg-1 {
    width: 8.33333%;
  }

  .row .col-lg-2 {
    width: 16.66667%;
  }

  .row .col-lg-3 {
    width: 25%;
  }

  .row .col-lg-4 {
    width: 33.33333%;
  }

  .row .col-lg-5 {
    width: 41.66667%;
  }

  .row .col-lg-6 {
    width: 50%;
  }

  .row .col-lg-7 {
    width: 58.33333%;
  }

  .row .col-lg-8 {
    width: 66.66667%;
  }

  .row .col-lg-9 {
    width: 75%;
  }

  .row .col-lg-10 {
    width: 83.33333%;
  }

  .row .col-lg-11 {
    width: 91.66667%;
  }

  .row .col-lg-12 {
    width: 100%;
  }
}
