html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

html, body {
  height: 100%;
}

body {
  background: #2F322D;
  color: #2F322D;
  font-family: sans-serif;
  font-size: 1.09em;
  letter-spacing: 1px;
}

.center {
  text-align: center;
  flex: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  margin: 0.3em 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-perspective: 1200px;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.icon-new {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 1.2em 0;
  background: #e1e1e1;
  color: #2F322D;
}
.icon-new:before {
  content: '+';
  font-size: 2.2em;
}

.title-large, .title-md {
  font-size: 8em;
  margin: 0.1em 0;
  text-shadow: 0px 2px 0px rgba(26, 26, 26, 0.4);
  text-align: center;
}

.title-md {
  font-size: 4em;
}

p {
  text-align: justify;
  margin: 0.5em 0;
  line-height: 1.2em;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.box-center:before {
  content: '';
  flex: 1;
}
.box-center:after {
  content: '';
  flex: 1;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.notify {
  margin: 2em 0;
  padding: 1em;
  border: 2px solid #a3a3a3;
  box-shadow: 0px 2px 2px rgba(98, 97, 97, 0.44);
  background: #F0F0F0;
}

.header, .footer, .content-page {
  padding: 1.5em 0;
  background: #F5F5F5;
  color: #2F322D;
}

.header {
  padding-top: 0;
}

header.full {
  height: 100%;
}

.section-spaced {
  margin-top: 20em;
}
.section-spaced section {
  margin-bottom: 20em;
}

.section-change section:nth-child(odd) {
  background: #e8e8e8;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.row {
  margin: 0 -7.5px;
  padding: 7.5px 0;
  overflow: hidden;
  *zoom: 1;
}

.row > div {
  float: left;
  min-height: 1px;
  padding: 0 7.5px;
  box-sizing: border-box;
}

.nav-bar .item-nav > a, .nav-bar .item-nav > span {
  display: block;
}
.nav-bar .nav-header, .nav-bar .item-nav > a, .nav-bar .item-nav > span {
  padding: 1.2em 0.7em;
}
.nav-bar .nav-header {
  text-align: center;
  text-transform: uppercase;
}
.nav-bar .item-nav.drop {
  position: relative;
}
.nav-bar .item-nav.drop:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -2px;
  width: 0px;
  height: 0px;
  border-top: 5px solid #FFF;
  border-right: 5px solid rgba(255, 0, 0, 0);
  border-left: 5px solid rgba(255, 0, 0, 0);
}

.nav-bar.inline {
  display: inline-block;
  width: 100%;
  background: #F5F5F5;
  font-weight: bold;
}
.nav-bar.inline .item-nav:hover {
  background: white;
}
.nav-bar.inline .item-option button, .nav-bar.inline .item-option input {
  margin: 0px;
  padding: 1.2em 0.7em;
}

.nav-bar.left {
  min-width: 250px;
  margin: 0 2em 2em 0;
  background: #e8e8e8;
}
.nav-bar.left .nav-header {
  background: #F5F5F5;
}
.nav-bar.left .item-nav:hover {
  background: white;
}

.window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #F5F5F5;
}

.form-group {
  margin: 0.5em 0;
}
.form-group label {
  width: 200px;
  display: block;
}

.form-control {
  padding: 0.4em;
  margin: 0.5em 0;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: #e8e8e8;
}

textarea.form-control {
  height: 120px;
  max-width: 100%;
}

.form-control[type=checkbox] {
  display: none;
}

.form-control[type=checkbox] + label {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 2px solid #B3B1B1;
  cursor: pointer;
}

.form-control[type=checkbox]:checked + label {
  border: none;
  background: #2F322D;
}

.form-control[type=checkbox]:checked + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 5px;
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-control.search {
  width: 250px;
  float: left;
}
.form-control.search + button[type="submit"] {
  float: left;
}

.table {
  width: 100%;
  margin-bottom: 1.5em;
  box-shadow: 0px 1px 2px #B4B4B4;
}
.table thead > tr {
  background: #F5F5F5;
}
.table thead > tr th {
  font-weight: bold;
  text-transform: uppercase;
}
.table tbody > tr:nth-of-type(odd) {
  background: #e8e8e8;
}
.table td, .table th {
  padding: 0.5em 0.8em;
}

.btn, .link {
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.9em 2em;
  text-align: center;
  background: #F5F5F5;
  box-shadow: 0px 1px 2px #B4B4B4;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.btn-inline .btn {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.btn:hover {
  background: gainsboro;
}

.link {
  background: none;
  font-weight: bold;
  color: #2196F3;
}

.link:hover {
  border-bottom: 3px solid #2196F3;
}

.radial-out {
  position: relative;
  overflow: hidden;
  text-align: center;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: color, 0.3s;
  -o-transition: color, 0.3s;
  -webkit-transition: color, 0.3s;
  transition: color, 0.3s;
}

.radial-out:hover {
  box-shadow: 0 0 1px transparent;
}

.radial-out:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2F322D;
  border-radius: 100%;
  -moz-transition: -moz-transform, 0.3s, ease-out;
  -o-transition: -o-transform, 0.3s, ease-out;
  -webkit-transition: -webkit-transform, 0.3s, ease-out;
  transition: transform, 0.3s, ease-out;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radial-out:hover, .radial-out:focus, .radial-out:active {
  color: #FFF;
}

.radial-out:hover:after, .radial-out:focus:after, .radial-out:active:after {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

@-moz-keyframes flipOut {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes flipOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes flipOut {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-moz-keyframes flipIn {
  0% {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes flipIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes flipIn {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.header.dark,
.footer.dark,
.content-page.dark,
.window.dark,
.form-control.dark,
.form-control.dark[type=checkbox]:checked + label,
.radial-out.dark:after,
.table.dark thead > tr,
.nav-bar.dark .nav-header,
.nav-bar.inline.dark,
.btn.dark {
  background: #2F322D;
  color: #F5F5F5;
}

.nav-bar.left.dark .item-nav:hover {
  background: #3c3f39;
  color: #F5F5F5;
}

.nav-bar.inline.dark .item-nav:hover {
  background: #222521;
}

.nav-bar.inline.dark .sub-nav {
  background: #2F322D;
}

.btn.dark:hover {
  background-color: #161715;
}

.notify.dark {
  background: #2F322D;
  color: #FFF;
  border-color: #090a09;
}

p.dark {
  color: #2F322D;
}

.header.dark2,
.footer.dark2,
.content-page.dark2,
.window.dark2,
.form-control.dark2,
.form-control.dark2[type=checkbox]:checked + label,
.radial-out.dark2:after,
.table.dark2 thead > tr,
.nav-bar.dark2 .nav-header,
.nav-bar.inline.dark2,
.btn.dark2 {
  background: #1f1f1f;
  color: #F5F5F5;
}

.nav-bar.left.dark2 .item-nav:hover {
  background: #2c2c2c;
  color: #F5F5F5;
}

.nav-bar.inline.dark2 .item-nav:hover {
  background: #121212;
}

.nav-bar.inline.dark2 .sub-nav {
  background: #1f1f1f;
}

.btn.dark2:hover {
  background-color: #050505;
}

.notify.dark2 {
  background: #1f1f1f;
  color: #FFF;
  border-color: black;
}

p.dark2 {
  color: #1f1f1f;
}

.header.blue,
.footer.blue,
.content-page.blue,
.window.blue,
.form-control.blue,
.form-control.blue[type=checkbox]:checked + label,
.radial-out.blue:after,
.table.blue thead > tr,
.nav-bar.blue .nav-header,
.nav-bar.inline.blue,
.btn.blue {
  background: #2196F3;
  color: #F5F5F5;
}

.nav-bar.left.blue .item-nav:hover {
  background: #39a1f4;
  color: #F5F5F5;
}

.nav-bar.inline.blue .item-nav:hover {
  background: #0d8aee;
}

.nav-bar.inline.blue .sub-nav {
  background: #2196F3;
}

.btn.blue:hover {
  background-color: #0c7cd5;
}

.notify.blue {
  background: #2196F3;
  color: #FFF;
  border-color: #0a6ebd;
}

p.blue {
  color: #2196F3;
}

.header.orange,
.footer.orange,
.content-page.orange,
.window.orange,
.form-control.orange,
.form-control.orange[type=checkbox]:checked + label,
.radial-out.orange:after,
.table.orange thead > tr,
.nav-bar.orange .nav-header,
.nav-bar.inline.orange,
.btn.orange {
  background: #FD6E16;
  color: #F5F5F5;
}

.nav-bar.left.orange .item-nav:hover {
  background: #fd7e2f;
  color: #F5F5F5;
}

.nav-bar.inline.orange .item-nav:hover {
  background: #f76002;
}

.nav-bar.inline.orange .sub-nav {
  background: #FD6E16;
}

.btn.orange:hover {
  background-color: #de5602;
}

.notify.orange {
  background: #FD6E16;
  color: #FFF;
  border-color: #c54c02;
}

p.orange {
  color: #FD6E16;
}

.header.red,
.footer.red,
.content-page.red,
.window.red,
.form-control.red,
.form-control.red[type=checkbox]:checked + label,
.radial-out.red:after,
.table.red thead > tr,
.nav-bar.red .nav-header,
.nav-bar.inline.red,
.btn.red {
  background: #CF4646;
  color: #F5F5F5;
}

.nav-bar.left.red .item-nav:hover {
  background: #d45a5a;
  color: #F5F5F5;
}

.nav-bar.inline.red .item-nav:hover {
  background: #c83434;
}

.nav-bar.inline.red .sub-nav {
  background: #CF4646;
}

.btn.red:hover {
  background-color: #b32f2f;
}

.notify.red {
  background: #CF4646;
  color: #FFF;
  border-color: #9f2929;
}

p.red {
  color: #CF4646;
}

.header.green,
.footer.green,
.content-page.green,
.window.green,
.form-control.green,
.form-control.green[type=checkbox]:checked + label,
.radial-out.green:after,
.table.green thead > tr,
.nav-bar.green .nav-header,
.nav-bar.inline.green,
.btn.green {
  background: #2FB69E;
  color: #F5F5F5;
}

.nav-bar.left.green .item-nav:hover {
  background: #34cab0;
  color: #F5F5F5;
}

.nav-bar.inline.green .item-nav:hover {
  background: #2aa28c;
}

.nav-bar.inline.green .sub-nav {
  background: #2FB69E;
}

.btn.green:hover {
  background-color: #258d7b;
}

.notify.green {
  background: #2FB69E;
  color: #FFF;
  border-color: #1f7969;
}

p.green {
  color: #2FB69E;
}

@media (max-width: 480px) {
  .row .col-xs-hidden {
    display: none;
  }

  .row .col-xs-1 {
    width: 8.33333%;
  }

  .row .col-xs-2 {
    width: 16.66667%;
  }

  .row .col-xs-3 {
    width: 25%;
  }

  .row .col-xs-4 {
    width: 33.33333%;
  }

  .row .col-xs-5 {
    width: 41.66667%;
  }

  .row .col-xs-6 {
    width: 50%;
  }

  .row .col-xs-7 {
    width: 58.33333%;
  }

  .row .col-xs-8 {
    width: 66.66667%;
  }

  .row .col-xs-9 {
    width: 75%;
  }

  .row .col-xs-10 {
    width: 83.33333%;
  }

  .row .col-xs-11 {
    width: 91.66667%;
  }

  .row .col-xs-12 {
    width: 100%;
  }

  .title-large {
    font-size: 5em;
  }

  .table td, .table th {
    padding: 0.2em 0.8em;
    display: block;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .row .col-sm-hidden {
    display: none;
  }

  .row .col-sm-1 {
    width: 8.33333%;
  }

  .row .col-sm-2 {
    width: 16.66667%;
  }

  .row .col-sm-3 {
    width: 25%;
  }

  .row .col-sm-4 {
    width: 33.33333%;
  }

  .row .col-sm-5 {
    width: 41.66667%;
  }

  .row .col-sm-6 {
    width: 50%;
  }

  .row .col-sm-7 {
    width: 58.33333%;
  }

  .row .col-sm-8 {
    width: 66.66667%;
  }

  .row .col-sm-9 {
    width: 75%;
  }

  .row .col-sm-10 {
    width: 83.33333%;
  }

  .row .col-sm-11 {
    width: 91.66667%;
  }

  .row .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .row .col-md-hidden {
    display: none;
  }

  .row .col-md-1 {
    width: 8.33333%;
  }

  .row .col-md-2 {
    width: 16.66667%;
  }

  .row .col-md-3 {
    width: 25%;
  }

  .row .col-md-4 {
    width: 33.33333%;
  }

  .row .col-md-5 {
    width: 41.66667%;
  }

  .row .col-md-6 {
    width: 50%;
  }

  .row .col-md-7 {
    width: 58.33333%;
  }

  .row .col-md-8 {
    width: 66.66667%;
  }

  .row .col-md-9 {
    width: 75%;
  }

  .row .col-md-10 {
    width: 83.33333%;
  }

  .row .col-md-11 {
    width: 91.66667%;
  }

  .row .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .nav-bar.inline .sub-nav {
    padding-left: 2em;
  }
}
@media (min-width: 769px) {
  .nav-bar.inline .nav-header, .nav-bar.inline .item-nav, .nav-bar.inline .item-option {
    float: left;
    position: relative;
  }
  .nav-bar.inline .item-nav:hover > .sub-nav {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
  .nav-bar.inline .sub-nav {
    position: absolute;
    left: 0;
    top: 110%;
    background: #F5F5F5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
    z-index: 1;
  }
  .nav-bar.inline .sub-nav .item-nav {
    float: none;
  }
}
@media (min-width: 1025px) {
  .row .col-lg-hidden {
    display: none;
  }

  .row .col-lg-1 {
    width: 8.33333%;
  }

  .row .col-lg-2 {
    width: 16.66667%;
  }

  .row .col-lg-3 {
    width: 25%;
  }

  .row .col-lg-4 {
    width: 33.33333%;
  }

  .row .col-lg-5 {
    width: 41.66667%;
  }

  .row .col-lg-6 {
    width: 50%;
  }

  .row .col-lg-7 {
    width: 58.33333%;
  }

  .row .col-lg-8 {
    width: 66.66667%;
  }

  .row .col-lg-9 {
    width: 75%;
  }

  .row .col-lg-10 {
    width: 83.33333%;
  }

  .row .col-lg-11 {
    width: 91.66667%;
  }

  .row .col-lg-12 {
    width: 100%;
  }
}
