.content-page{
  padding: 1.5em 0;
  background: map-get($color-theme, "contentPage");
}

.section-spaced{
  margin-top: 20em;

  section{
    margin-bottom: 20em;
  }
}

.section-change{
  section:nth-child(odd){
    background: darken(map-get($color-theme, "contentPage"), 5%);
  }
}