.content-page{
   background: map-get($color-theme, "default");
   color : map-get($color-theme, "font");
}

.section-spaced{
  margin-top: 20em;

  section{
    margin-bottom: 20em;
  }
}

.section-change{
  section:nth-child(odd){
    background: darken(map-get($color-theme, "default"), 5%);
  }
}