.content-page{
   //background-color: map-get($theme, "background");
   //color : map-get($color-theme, "font");
}

.section-spaced{
  margin-top: 20em;

  section{
    margin-bottom: 20em;
  }
}

.section-change{
  section:nth-child(odd){
    background-color: map-get($theme, "lightenBackground");
  }
}