.header, .footer, .content-page{
  padding: 5.5em 0;
}

.header{
  color: map-get($theme, "headerColor");
  background-color: map-get($theme, "headerBackground");
}

.footer{
  color: map-get($theme, "footerColor");
  background-color: map-get($theme, "footerBackground");
}

.header.fix{
  padding-top: 0;
}

header.full{
  height: 100%;
  box-sizing: border-box;
}