.header, .footer, .content-page{
  padding: 1.5em 0;
}

.header{
  color: map-get($theme, "headerColor");
  background: map-get($theme, "headerBackground");
}

.footer{
  color: map-get($theme, "footerColor");
  background: map-get($theme, "footerBackground");
}

.header.fix{
  padding-top: 0;
}

header.full{
  height: 100%;
}