.header, .footer, .content-page{
  padding: 1.5em 0;
  background: map-get($color-theme, "default");
  color: map-get($color-theme, "font");
}

.header{
  padding-top: 0;
}

header.full{
  height: 100%;
}