@each $name, $color in $colors {
  .form-control.#{$name},
  .form-control.#{$name}[type=checkbox]:checked  + label,
  .radial-out.#{$name}:after,
  .btn.#{$name},
  .notify.#{$name}
  {
    background : $color;
    color : map-get($theme, "background");
  }

  .btn.#{$name}:hover{
    background-color: darken($color, 10%);
  }

  .notify.#{$name}{
    border-color: darken($color, 20%);
  }

  p.#{$name}{
    color : $color;
  }
}