@each $name, $color in $colors {
  .header.#{$name},
  .footer.#{$name},
  .content-page.#{$name},
  .window.#{$name},
  .form-control.#{$name},
  .form-control.#{$name}[type=checkbox]:checked  + label,
  .radial-out.#{$name}:after,
  .table.#{$name} thead > tr,
  .nav-bar.#{$name} .nav-header,
  .nav-bar.inline.#{$name},
  .btn.#{$name}
  {
    background : $color;
    color : map-get($color-theme, "default");
  }

  .nav-bar.left.#{$name} .item-nav:hover{
    background: lighten($color, 5%);
    color : map-get($color-theme, "default");
  }

  .nav-bar.inline.#{$name} .item-nav:hover{
    background: darken($color, 5%);
  }

  .nav-bar.inline.#{$name} .sub-nav{
    background: $color;
  }

  .btn.#{$name}:hover{
    background-color: darken($color, 10%);
  }

  .notify.#{$name}{
    background: $color;
    color: #FFF;
    border-color: darken($color, 15%);
  }

  p.#{$name}{
    color : $color;
  }
}