$color-theme : (
  'font' : #2F322D,
  'default' : #F5F5F5,
  'colors' : (
    'dark': #2F322D,
    'dark2': #1f1f1f,
    'blue': #2196F3,
    'orange': #FD6E16,
    'red': #CF4646,
    'green' : #2FB69E
  )
);

$colors : map-get($color-theme, "colors");

html, body {
  height: 100%;
}

body{
  background: map-get($color-theme, "font");
  color : map-get($color-theme, "font");
  font-family: sans-serif; //Calibri //Georgia //Montserrat //Segoe UI
  font-size: 1.09em;
  letter-spacing: 1px;
}