/*VARIABLES*/
/*Container*/
/*Media Query*/
/*Grid*/
/*Header - Footer*/
/*RESET CSS*/
html {
  color: #000;
  background: #FFF;
}

body, table, form, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
}

/*MIXINS*/
/*BLOCK POSITION*/
.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pullRight {
  float: right;
}

.pullLeft {
  float: left;
}

/*GLOBAL TAGS BASICS STYLES*/
body {
  font-family: Merriweather;
}

p {
  text-align: justify;
  margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg {
  background: rgba(70, 70, 70, 0.5);
}

section {
  width: 100%;
  padding: 80px 0;
  background: white;
}

section.marg {
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 15px black;
  -moz-box-shadow: 0px 0px 15px black;
  box-shadow: 0px 0px 15px black;
}

section.dark {
  background: #ededed;
}

/*CONTAINER*/
.container {
  width: 1200px;
  margin: auto;
  -webkit-transition: width, 0.5s;
  -moz-transition: width, 0.5s;
  -o-transition: width, 0.5s;
  transition: width, 0.5s;
}

/*GRID*/
.row, .row-fluid {
  width: 100%;
  margin: 30px auto;
  display: table;
}

.row .col {
  margin-left: 15px;
  display: inline-table;
}
.row .col:first-child {
  margin-left: 0;
}

.row-fluid .col {
  margin-left: 1.5%;
  display: inline-table;
}
.row-fluid .col:first-child {
  margin-left: 0;
}

.row .one {
  width: 86.25px;
}
.row .two {
  width: 187.5px;
}
.row .three {
  width: 288.75px;
}
.row .four {
  width: 390px;
}
.row .five {
  width: 491.25px;
}
.row .six {
  width: 592.5px;
}
.row .seven {
  width: 693.75px;
}
.row .eight {
  width: 795px;
}
.row .nine {
  width: 896.25px;
}
.row .ten {
  width: 997.5px;
}
.row .eleven {
  width: 1098.75px;
}
.row .twelve {
  width: 1200px;
}
.row .thirtenn {
  width: 1301.25px;
}
.row .fourteen {
  width: 1402.5px;
}
.row .fiveteen {
  width: 1503.75px;
}
.row .sixteen {
  width: 1605px;
}

.row-fluid .one {
  width: 6.95833%;
}
.row-fluid .two {
  width: 15.41667%;
}
.row-fluid .three {
  width: 23.875%;
}
.row-fluid .four {
  width: 32.33333%;
}
.row-fluid .five {
  width: 40.79167%;
}
.row-fluid .six {
  width: 49.25%;
}
.row-fluid .seven {
  width: 57.70833%;
}
.row-fluid .eight {
  width: 66.16667%;
}
.row-fluid .nine {
  width: 74.625%;
}
.row-fluid .ten {
  width: 83.08333%;
}
.row-fluid .eleven {
  width: 91.54167%;
}
.row-fluid .twelve {
  width: 100%;
}
.row-fluid .thirtenn {
  width: 108.45833%;
}
.row-fluid .fourteen {
  width: 116.91667%;
}
.row-fluid .fiveteen {
  width: 125.375%;
}
.row-fluid .sixteen {
  width: 133.83333%;
}

/*HEADER - FOOTER*/
.LDJ-header, .LDJ-footer {
  height: 530px;
  width: 100%;
  color: white;
  background: #222222;
}

.LDJ-header.verticalCenter, .LDJ-footer.verticalCenter {
  padding: 100px 0;
  height: 330px;
}

/*MENU*/
.menu {
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0px 3px 7px black;
  -moz-box-shadow: 0px 3px 7px black;
  box-shadow: 0px 3px 7px black;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.menu.top, .menu.bottom {
  position: absolute;
  left: 0;
  z-index: 3;
}
.menu.left, .menu.right {
  position: absolute;
  height: 100%;
  width: 60px;
  top: 0;
  z-index: 3;
}
.menu.fixed {
  position: fixed;
}
.menu .logo {
  font-size: 2.5em;
  height: 100%;
  line-height: 70px;
  font-family: Titillium Web;
  float: left;
  width: 30%;
}
.menu nav {
  float: right;
  width: 70%;
  height: 100%;
}
.menu nav ul {
  list-style: none;
  font-family: Titillium Web;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
}
.menu nav ul li {
  display: inline-block;
  padding: 0 25px;
  line-height: 70px;
  font-size: 0.9em;
}
.menu nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.menu nav ul li a:hover {
  text-decoration: underline;
}
.menu nav ul li.dropdown {
  cursor: pointer;
}
.menu nav ul li.dropdown:hover ul {
  display: block;
}
.menu nav ul li.dropdown ul {
  display: none;
  position: absolute;
  height: 200px;
  width: 100%;
  left: 0;
  right: 0;
  top: 70px;
  cursor: default;
  background: rgba(0, 0, 0, 0.95);
  -webkit-animation: menuAnim 0.3s;
  -moz-animation: menuAnim 0.3s;
  -ms-animation: menuAnim 0.3s;
  -o-animation: menuAnim 0.3s;
  animation: menuAnim 0.3s;
}
.menu nav ul li.dropdown ul li {
  height: 100%;
  line-height: 200px;
  margin-right: 30px;
  float: left;
}
.menu nav ul li.dropdown ul .label {
  font-size: 2.5em;
  font-style: italic;
  margin-left: 150px;
  margin-right: 150px;
  border: none;
}
.menu nav ul li.dropdown:after {
  content: '>';
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@-moz-keyframes menuAnim {
  0% {
    left: -100%;
  }

  100% {
    left: 1;
  }
}

@-webkit-keyframes menuAnim {
  0% {
    left: -100%;
  }

  100% {
    left: 1;
  }
}

@-o-keyframes menuAnim {
  0% {
    left: -100%;
  }

  100% {
    left: 1;
  }
}

@-ms-keyframes menuAnim {
  0% {
    left: -100%;
  }

  100% {
    left: 1;
  }
}

@keyframes menuAnim {
  0% {
    left: -100%;
  }

  100% {
    left: 1;
  }
}

/*TEXT*/
.title {
  margin: auto;
  height: 120px;
  text-align: center;
  width: 100%;
  font-size: 8em;
  line-height: 120px;
  padding: 15px 0;
}

.text {
  margin: 15px 0;
}
.text.large {
  font-size: 5em;
}
.text.center {
  text-align: center;
  margin: auto;
}

/*PANEL SLIDE*/
.slideLeft {
  background: #31363e;
  color: white;
  overflow: hidden;
  display: block;
  position: absolute;
  width: 300px;
  height: 100%;
  left: 0;
  z-index: 1;
}

.panel-slide {
  overflow: hidden;
  position: relative;
}

.panel-slide > .panel {
  z-index: 2;
  position: relative;
  left: 300px;
}

.panel-slide.off > .panel {
  left: 0;
}

.panel-slide.off > .slideLeft {
  left: -300px;
}

.panel-slide > .panel {
  -webkit-transition: left 0.5s linear;
  -moz-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
  transition: left 0.5s linear;
}

.panel-slide > .slideLeft {
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

.panel-slide.off > .slideLeft {
  -webkit-transition: left 0.5s linear;
  -moz-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
  transition: left 0.5s linear;
}

.panel-slide.off > .panel {
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

/*Media Query*/
@media only screen and (max-width: 1250px) and (min-width: 960px) {
  .container {
    width: 960px;
  }

  .row .one {
    width: 66.25px;
  }
  .row .two {
    width: 147.5px;
  }
  .row .three {
    width: 228.75px;
  }
  .row .four {
    width: 310px;
  }
  .row .five {
    width: 391.25px;
  }
  .row .six {
    width: 472.5px;
  }
  .row .seven {
    width: 553.75px;
  }
  .row .eight {
    width: 635px;
  }
  .row .nine {
    width: 716.25px;
  }
  .row .ten {
    width: 797.5px;
  }
  .row .eleven {
    width: 878.75px;
  }
  .row .twelve {
    width: 960px;
  }
  .row .thirtenn {
    width: 1041.25px;
  }
  .row .fourteen {
    width: 1122.5px;
  }
  .row .fiveteen {
    width: 1203.75px;
  }
  .row .sixteen {
    width: 1285px;
  }
}
@media only screen and (max-width: 1010px) and (min-width: 760px) {
  .container {
    width: 760px;
  }

  .row .one {
    width: 66.25px;
  }
  .row .two {
    width: 147.5px;
  }
  .row .three {
    width: 228.75px;
  }
  .row .four {
    width: 310px;
  }
  .row .five {
    width: 391.25px;
  }
  .row .six {
    width: 472.5px;
  }
  .row .seven {
    width: 553.75px;
  }
  .row .eight {
    width: 635px;
  }
  .row .nine {
    width: 716.25px;
  }
  .row .ten {
    width: 797.5px;
  }
  .row .eleven {
    width: 878.75px;
  }
  .row .twelve {
    width: 960px;
  }
  .row .thirtenn {
    width: 1041.25px;
  }
  .row .fourteen {
    width: 1122.5px;
  }
  .row .fiveteen {
    width: 1203.75px;
  }
  .row .sixteen {
    width: 1285px;
  }
}
@media only screen and (max-width: 810px) {
  .container {
    width: 90%;
  }

  .row .col, .row-fluid .col {
    margin-left: 0;
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .menu {
    display: none;
  }

  .menu {
    overflow: hidden;
    display: block;
    width: 300px;
    height: 100%;
    left: -300px;
    z-index: 1;
    position: fixed;
  }

  body {
    position: relative;
    left: 300px;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }

  body.off {
    left: 0;
    overflow: none;
  }
}
