@include keyframes(flipOut){
  0% {
    @include transform(scale(1));
  }

  30% {
   @include transform(scale(0.7));
    opacity: 1;
  }

  100% {
    @include transform(scale(0));
    opacity: 0;
  }
};

%flipOut {
  @include animation-name(flipOut);
  @include animation-duration(0.75s);
}

@include keyframes(flipIn){
  0% {
    @include transform(scale(0));
    opacity: 0;
  }

  30% {
   opacity: 1;
  }

  100% {
    @include transform(scale(1));
  }
};

%flipIn {
  @include animation-name(flipIn);
  @include animation-duration(0.76s);
}